h1{
	color: red;
}
img{
	width: 400px;
}
#thirdDiv{
	height: 600px;
	width: 500px;
	background-color: yellow;
	padding: 50px;
	border: 5px dashed blue;
}
#spanId{
	font-size: 18 px;
	margin: 50 px;
}
